@charset "utf-8";
/* 폰트크기 root 기준값 = 10px (10/16)*100 */


/* 뷰티 */

/* section 07 */
.sec_07 {
    height: 600px;
    /* 플렉스 */
    display: flex;
    margin-top: 142px;
}

.sec_07 h2{
    text-align: center;
    margin: auto;
}

.sec_07 h2 img{
    width: 560px;
    height: 500px;
}
.sec_07 h3 {
    text-align: center;
    padding-top: 35px;
}

.sec_07 .md_pick_area {
    margin-top: 32px;
    /* 포지션 */
    position: relative;
    left: -80px;
    top: 0;
    z-index: 1;
}
.sec_07 .md_pick_area img{
    width: 300px;
    height: 330px;
}

.sec_07 .md_pick_area ul {
    /* 플렉스 */
    display: flex;
}
.sec_07 .md_pick_area ul li {
    margin-right: 8px;
}
.sec_07 .md_pick_area+p {
    text-align: right;
    padding-top: 28px;
    padding-right: 60px;
}

.sec_07 p {
    text-align: right;
    padding-right: 80px;
    margin-top: 100px;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Cinzel' ,sans-serif;
}



/* section 08 */
.sec_08 {
    /* background-color: #f5f5f5; */
    background-color: rgb(248,209,236);
    margin-top: 150px;
    width: 100%;
    max-width: 100%;

}
.sec_08 .real_time {
    /* 플렉스 */
    display: flex;
    /* 교차축 레이아웃 */
    align-items: center;
    padding-top: 88px;
    padding-left: 100px;
    padding-bottom: 88px;
}
.sec_08 .real_time ul {
    text-align: center;
    margin-right: 76px;
}
.sec_08 .real_time ul li {
    margin-bottom: 14px;
    cursor: pointer;
}
.sec_08 .real_time ul li:first-child {
    margin-bottom: 36px;
}
.sec_08 .real_time ul li:last-child {
    margin-top: 64px;
    margin-bottom: 0;
}
.sec_08 .real_time ul li a {
    font-size: 1.7rem;
    color: #393939;
    display: inline-block;
    width: 180px;
    height: 32px;
    line-height: 32px;
}
.sec_08 .real_time ul li a:hover {
    color: #fff;
    background-color: #a56fbb;
}
/* 마지막 li 버튼은 호버효과 없애기 */
.sec_08 .real_time ul li:last-child a:hover {
    background-color: transparent !important;
}
.sec_08 .real_time ul p{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #616161;
}

.sec_08 .re_view{
    position: relative;
    width: 800px;
    margin: 0;
}

.sec_08 .re_view img{
    width: 100%;
    max-width: 100%;
    height: 450px;
    /* 포지션 */
    position: absolute;
    left: 0;
    top: -230px;
    z-index: 100;
    transition: all 0.3s;
}

.sec_08 .re_view img:nth-child(2),
.sec_08 .re_view img:nth-child(3),
.sec_08 .re_view img:nth-child(4){
    display: none;
}



/* 세션9 */
.sec_09{
    width: 100%;
    min-width: 1440px;
    height: 650px;
    margin: 0 auto;
    margin-top: 150px;
}
.sec_09 .sec_09_div iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}
.sec_09 .sec_09_div h1{
    height: 45px;
    text-align: center;
    font-weight: 500;
    font-family: 'Uchen',sans-serif;
    font-size: 30px;
}

footer{
    margin: 0 auto;
}
